PORT=3000
DB_HOST=localhost
DB_PORT=5432
DB_NAME=stud_kg
DB_USER=postgres
DB_PASSWORD=your_password
JWT_SECRET=your_jwt_secret_key_here
NODE_ENV=development

# Finik Payments Configuration
FINIK_ENV=beta
FINIK_API_KEY=your_api_key_from_finik
# Приватный ключ можно указать здесь ИЛИ создать файл finik_private.pem в корне проекта
# FINIK_PRIVATE_KEY_PEM=-----BEGIN PRIVATE KEY-----\nYour private key here\n-----END PRIVATE KEY-----
FINIK_ACCOUNT_ID=your_account_id
FINIK_MERCHANT_CATEGORY_CODE=0742
FINIK_NAME_EN=stud.kg Payment
FINIK_WEBHOOK_URL=https://your-domain.com/api/payments/webhook
FINIK_REDIRECT_URL=https://your-domain.com/payment/success

